/* styles.css */

.container-form {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.title {
  display: flex;
  align-items: left;
  margin-left: 10px;
  font-weight: bold;
  color: #2b59a2;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.title2 {
  display: flex;
  align-items: left;
  margin-left: 10px;
  font-weight: bold;
  color: #2b59a2;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}

input[type="text"] {
  width: 230px;
}

.param-div {
  width: 120px;
  font-weight: 700;
  color: #2b59a2;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 15px;
}



.box-batch-1 {
  width: 45%;
}